{% extends "__layout.twig" %} {% block content %}
<div class="container">
  <h1>Изменение игры {{ editObj.ruName }}</h1>
  <hr />
  {% if message %}
  <div class="alert alert-info">
    {{ message }}
    <a href="/games/{{ editObj.id }}">Открыть игру</a>
  </div>
  {% endif %}

  <form enctype="multipart/form-data" method="POST" class="row g-3">
    <div class="col-6">
      <label class="form-label">Название на английском</label>
      <input
        type="text"
        class="form-control"
        name="title"
        value="{{ editObj.title }}"
      />
    </div>
    <div class="col-6">
      <label class="form-label">Название на русском</label>
      <input
        type="text"
        class="form-control"
        name="ruName"
        value="{{ editObj.ruName }}"
      />
    </div>
    <div class="col-6">
      <label class="form-label">Тип на русском</label>
      <select class="form-control" name="typeRu">
        {% for type in editType %}
        <option value="{{ type.typeRu }}">{{ type.typeRu }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-6">
      <label class="form-label">Тип на английском</label>
      <select class="form-control" name="type">
        {% for type in editType %}
        <option value="{{ type.type }}">{{ type.type }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-12">
      <label class="form-label">Картинка</label>
      <input
        class="form-control"
        type="file"
        id="formFile"
        name="image"
        value="{{ editObj.image }}"
      />
    </div>
    <div class="col-12">
      <textarea
        name="info"
        placeholder="{{ editObj.info }}"
        class="form-control"
        rows="10"
        value="{{ editObj.info }}"
      ></textarea>
    </div>
    <div class="col-12 text-end">
      <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
  </form>
</div>

{% endblock %}
