{% extends "__layout.twig" %} {% block content %} {% if suggestions %}
<div
  class="container d-flex flex-column"
  style="flex-wrap: wrap; width: max-content"
>
  {% for object in suggestions %}
  <div
    class="d-flex flex-column"
    style="
      width: 250px;
      height: 250px;
      margin-right: 50px;
      margin-bottom: 145px;
    "
  >
    <div
      class="list-group position-relative"
      style="
        outline: 1px solid rgba(100, 100, 100, 0.25);
        border-radius: 10px;
        padding: 5px;
        margin-top: 15px;
      "
    >
      <img
        src="{{ object.image }}"
        style="
          width: 240px;
          height: 240px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          margin-top: 10px;
          border-radius: 25%;
          margin-bottom: 10px;
        "
      />
      <a
        class="btn btn-primary"
        href="#"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        "
      >
        Название<br />
        ru:
        {{ object.ruName }}
        <br />
        eng:
        {{ object.title }}
      </a>
      <a
        class="btn btn-info"
        href="#"
        style="
          margin-top: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          word-wrap: break-word;
        "
      >
        Тип<br />
        ru:
        {{ object.typeRu }}
        <br />
        eng:
        {{ object.type }}
      </a>
      <a
        class="btn btn-secondary"
        href="#"
        style="
          margin-top: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          word-wrap: break-word;
        "
      >
        Картинка<br />
        {{ object.image }}
      </a>
    </div>
  </div>
</div>
{% endfor %} {% else %}
<div
  class="container d-flex flex-column justify-content-center"
  style="flex-wrap: wrap; width: max-content; height: calc(100vh - 120px)"
>
  <span class="text-center justify-content-center align-items-center"
    >Вы пока ничего не предложили :(</span
  >
</div>
{% endif %} {% endblock %}
